In [2]:
import pandas as pd
import numpy as np

In [4]:
mylist = ['Kalisat','Ambulu','Rambipuji','Patrang']
myseries1 = pd.Series(mylist)
print(myseries1)

0      Kalisat
1       Ambulu
2    Rambipuji
3      Patrang
dtype: object

In [5]:
mylist = [1, 3, 77, 12, 29, 30]
myseries2 = pd.Series(mylist)
print(myseries2)

0     1
1     3
2    77
3    12
4    29
5    30
dtype: int64

## DataFrame

In [8]:
mydata = [('Kalisat', 12), ('Sukorambi',36), ('Tanggul',90), ('Semboro',100)]

mydf = pd.DataFrame(mydata, columns = ['Subdistrict', 'Minutes'])

mydf

  Subdistrict  Minutes
0     Kalisat       12
1   Sukorambi       36
2     Tanggul       90
3     Semboro      100

In [10]:
mydf.dtypes

Subdistrict    object
Minutes         int64
dtype: object

### Reading in Data

In [12]:
df = pd.read_csv('openweatherdata-denpasar-1990-2020v0.1.csv')

In [13]:
df.head()

,dt_iso,timezone,city_name,lat,lon,temp,temp_min,temp_max,pressure,humidity,...,snow_3h,snow_6h,snow_12h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1/1/1990 0:00,28800,Denpasar,-8.652497,115.219117,25.82,25.82,25.82,1010.0,86,...,NaN,NaN,NaN,NaN,NaN,98,500,Rain,light rain,10d
1,1/1/1990 1:00,28800,Denpasar,-8.652497,115.219117,26.20,26.20,26.20,1011.0,84,...,NaN,NaN,NaN,NaN,NaN,91,500,Rain,light rain,10d
2,1/1/1990 2:00,28800,Denpasar,-8.652497,115.219117,26.45,26.45,26.45,1011.0,84,...,NaN,NaN,NaN,NaN,NaN,94,500,Rain,light rain,10d
3,1/1/1990 3:00,28800,Denpasar,-8.652497,115.219117,26.80,26.80,26.80,1011.0,82,...,NaN,NaN,NaN,NaN,NaN,94,500,Rain,light rain,10d
4,1/1/1990 4:00,28800,Denpasar,-8.652497,115.219117,27.04,27.04,27.04,1010.0,82,...,NaN,NaN,NaN,NaN,NaN,76,803,Clouds,broken clouds,04d

In [14]:
df.dtypes

dt_iso                  object
timezone                 int64
city_name               object
lat                    float64
lon                    float64
temp                   float64
temp_min               float64
temp_max               float64
pressure               float64
humidity                 int64
wind_speed             float64
wind_deg                 int64
rain_1h                float64
rain_3h                float64
rain_6h                float64
rain_12h               float64
rain_24h               float64
rain_today             float64
snow_1h                float64
snow_3h                float64
snow_6h                float64
snow_12h               float64
snow_24h               float64
snow_today             float64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
weather_icon            object
dtype: object

In [15]:
df.describe()

,timezone,lat,lon,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,...,rain_24h,rain_today,snow_1h,snow_3h,snow_6h,snow_12h,snow_24h,snow_today,clouds_all,weather_id
count,264924.0,2.649240e+05,2.649240e+05,264924.000000,264924.000000,264924.000000,264924.000000,264924.000000,264924.000000,264924.000000,...,6817.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,264924.000000,264924.000000
mean,28800.0,-8.652497e+00,1.152191e+02,27.273336,27.147962,27.397479,1010.032919,80.844997,3.612394,158.204696,...,13.797125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.478960,751.160046
std,0.0,1.776360e-15,8.526529e-14,1.962571,1.973218,1.989172,2.286581,8.720109,1.909580,85.000051,...,21.041274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.930149,125.287769
min,28800.0,-8.652497e+00,1.152191e+02,3.000000,2.000000,3.000000,998.400000,14.000000,0.010000,0.000000,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,200.000000
25%,28800.0,-8.652497e+00,1.152191e+02,25.940000,25.820000,26.000000,1008.400000,74.000000,2.100000,106.000000,...,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,801.000000
50%,28800.0,-8.652497e+00,1.152191e+02,27.000000,27.000000,27.000000,1010.200000,83.000000,3.600000,120.000000,...,5.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,801.000000
75%,28800.0,-8.652497e+00,1.152191e+02,28.600000,28.400000,29.000000,1011.900000,88.000000,4.710000,250.000000,...,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,802.000000
max,28800.0,-8.652497e+00,1.152191e+02,39.000000,39.000000,39.800000,1023.200000,100.000000,31.900000,360.000000,...,255.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,804.000000

In [16]:
df['pressure']

0         1010.0
1         1011.0
2         1011.0
3         1011.0
4         1010.0
           ...
264919    1007.0
264920    1007.0
264921    1007.0
264922    1007.0
264923    1008.0
Name: pressure, Length: 264924, dtype: float64

In [17]:
df.loc[3]

dt_iso                 1/1/1990 3:00
timezone                       28800
city_name                   Denpasar
lat                        -8.652497
lon                       115.219117
temp                            26.8
temp_min                        26.8
temp_max                        26.8
pressure                      1011.0
humidity                          82
wind_speed                      2.29
wind_deg                         271
rain_1h                         0.23
rain_3h                          NaN
rain_6h                          NaN
rain_12h                         NaN
rain_24h                         NaN
rain_today                       NaN
snow_1h                          NaN
snow_3h                          NaN
snow_6h                          NaN
snow_12h                         NaN
snow_24h                         NaN
snow_today                       NaN
clouds_all                        94
weather_id                       500
weather_main                    Rain
weather_description       light rain
weather_icon                     10d
Name: 3, dtype: object

In [20]:
df = df.set_index('dt_iso')

In [21]:
df

,timezone,city_name,lat,lon,temp,temp_min,temp_max,pressure,humidity,wind_speed,...,snow_3h,snow_6h,snow_12h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
dt_iso,,,,,,,,,,,,,,,,,,,,,
1/1/1990 0:00,28800,Denpasar,-8.652497,115.219117,25.82,25.82,25.82,1010.0,86,1.36,...,NaN,NaN,NaN,NaN,NaN,98,500,Rain,light rain,10d
1/1/1990 1:00,28800,Denpasar,-8.652497,115.219117,26.20,26.20,26.20,1011.0,84,2.09,...,NaN,NaN,NaN,NaN,NaN,91,500,Rain,light rain,10d
1/1/1990 2:00,28800,Denpasar,-8.652497,115.219117,26.45,26.45,26.45,1011.0,84,2.44,...,NaN,NaN,NaN,NaN,NaN,94,500,Rain,light rain,10d
1/1/1990 3:00,28800,Denpasar,-8.652497,115.219117,26.80,26.80,26.80,1011.0,82,2.29,...,NaN,NaN,NaN,NaN,NaN,94,500,Rain,light rain,10d
1/1/1990 4:00,28800,Denpasar,-8.652497,115.219117,27.04,27.04,27.04,1010.0,82,1.71,...,NaN,NaN,NaN,NaN,NaN,76,803,Clouds,broken clouds,04d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/7/2020 19:00,28800,Denpasar,-8.652497,115.219117,27.00,27.00,27.00,1007.0,94,4.10,...,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
1/7/2020 20:00,28800,Denpasar,-8.652497,115.219117,27.00,27.00,27.00,1007.0,94,5.70,...,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
1/7/2020 21:00,28800,Denpasar,-8.652497,115.219117,28.00,28.00,28.00,1007.0,83,6.70,...,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
1/7/2020 22:00,28800,Denpasar,-8.652497,115.219117,28.00,28.00,28.00,1007.0,83,6.20,...,NaN,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
1/7/2020 23:00,28800,Denpasar,-8.652497,115.219117,28.00,28.00,28.00,1008.0,83,5.70,...,NaN,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d

In [24]:
df.loc['2/7/1993 5:00']

timezone                              28800
city_name                          Denpasar
lat                               -8.652497
lon                              115.219117
temp                                   25.6
temp_min                               25.6
temp_max                               25.6
pressure                             1010.4
humidity                                 91
wind_speed                              2.6
wind_deg                                240
rain_1h                                 NaN
rain_3h                                18.0
rain_6h                                18.0
rain_12h                                NaN
rain_24h                                NaN
rain_today                              NaN
snow_1h                                 NaN
snow_3h                                 NaN
snow_6h                                 NaN
snow_12h                                NaN
snow_24h                                NaN
snow_today                              NaN
clouds_all                               40
weather_id                              502
weather_main                           Rain
weather_description    heavy intensity rain
weather_icon                            10d
Name: 2/7/1993 5:00, dtype: object

### Subsetting Data

In [25]:
df.columns

Index(['timezone', 'city_name', 'lat', 'lon', 'temp', 'temp_min', 'temp_max',
       'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain_1h', 'rain_3h',
       'rain_6h', 'rain_12h', 'rain_24h', 'rain_today', 'snow_1h', 'snow_3h',
       'snow_6h', 'snow_12h', 'snow_24h', 'snow_today', 'clouds_all',
       'weather_id', 'weather_main', 'weather_description', 'weather_icon'],
      dtype='object')

In [26]:
#Subsetting columns
smaller_df = df[['timezone', 'temp', 'pressure', 'humidity', 'wind_speed']]

In [27]:
smaller_df

                timezone   temp  pressure  humidity  wind_speed
dt_iso
1/1/1990 0:00      28800  25.82    1010.0        86        1.36
1/1/1990 1:00      28800  26.20    1011.0        84        2.09
1/1/1990 2:00      28800  26.45    1011.0        84        2.44
1/1/1990 3:00      28800  26.80    1011.0        82        2.29
1/1/1990 4:00      28800  27.04    1010.0        82        1.71
...                  ...    ...       ...       ...         ...
1/7/2020 19:00     28800  27.00    1007.0        94        4.10
1/7/2020 20:00     28800  27.00    1007.0        94        5.70
1/7/2020 21:00     28800  28.00    1007.0        83        6.70
1/7/2020 22:00     28800  28.00    1007.0        83        6.20
1/7/2020 23:00     28800  28.00    1008.0        83        5.70

[264924 rows x 5 columns]

In [29]:
#Subsetting rows, we can use filter like this

smaller_df['humidity'] > 90

dt_iso
1/1/1990 0:00     False
1/1/1990 1:00     False
1/1/1990 2:00     False
1/1/1990 3:00     False
1/1/1990 4:00     False
                  ...
1/7/2020 19:00     True
1/7/2020 20:00     True
1/7/2020 21:00    False
1/7/2020 22:00    False
1/7/2020 23:00    False
Name: humidity, Length: 264924, dtype: bool

In [30]:
#Subsetting rows then
smaller_df.loc[smaller_df['humidity'] > 90]

                timezone   temp  pressure  humidity  wind_speed
dt_iso
1/1/1990 20:00     28800  25.15    1009.0        92        1.44
1/1/1990 21:00     28800  25.10    1009.0        93        1.52
1/1/1990 22:00     28800  25.12    1009.0        91        1.46
1/2/1990 17:00     28800  25.17    1010.0        92        2.11
1/2/1990 18:00     28800  24.99    1009.0        92        2.36
...                  ...    ...       ...       ...         ...
1/6/2020 0:00      28800  28.00    1008.0        94        4.10
1/7/2020 0:00      28800  27.00    1008.0        94        6.20
1/7/2020 18:00     28800  27.00    1007.0        94        4.60
1/7/2020 19:00     28800  27.00    1007.0        94        4.10
1/7/2020 20:00     28800  27.00    1007.0        94        5.70

[30709 rows x 5 columns]

In [31]:
# or we can do use query
smaller_df.query('humidity > 90')

                timezone   temp  pressure  humidity  wind_speed
dt_iso
1/1/1990 20:00     28800  25.15    1009.0        92        1.44
1/1/1990 21:00     28800  25.10    1009.0        93        1.52
1/1/1990 22:00     28800  25.12    1009.0        91        1.46
1/2/1990 17:00     28800  25.17    1010.0        92        2.11
1/2/1990 18:00     28800  24.99    1009.0        92        2.36
...                  ...    ...       ...       ...         ...
1/6/2020 0:00      28800  28.00    1008.0        94        4.10
1/7/2020 0:00      28800  27.00    1008.0        94        6.20
1/7/2020 18:00     28800  27.00    1007.0        94        4.60
1/7/2020 19:00     28800  27.00    1007.0        94        4.10
1/7/2020 20:00     28800  27.00    1007.0        94        5.70

[30709 rows x 5 columns]

In [32]:
smaller_df['wind_speed'].isna()

dt_iso
1/1/1990 0:00     False
1/1/1990 1:00     False
1/1/1990 2:00     False
1/1/1990 3:00     False
1/1/1990 4:00     False
                  ...
1/7/2020 19:00    False
1/7/2020 20:00    False
1/7/2020 21:00    False
1/7/2020 22:00    False
1/7/2020 23:00    False
Name: wind_speed, Length: 264924, dtype: bool

In [33]:
smaller_df.dtypes

timezone        int64
temp          float64
pressure      float64
humidity        int64
wind_speed    float64
dtype: object

### Casting Types

In [34]:
smaller_df['pressure'] = smaller_df['pressure'].astype('int')

/var/folders/hj/cclgqh_92yq3syclp1zmzwp80000gn/T/ipykernel_26423/3801066076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smaller_df['pressure'] = smaller_df['pressure'].astype('int')

In [35]:
smaller_df.dtypes

timezone        int64
temp          float64
pressure        int64
humidity        int64
wind_speed    float64
dtype: object

### or we can use to_numeric

In [38]:
smaller_df['pressure'] = pd.to_numeric(smaller_df['pressure'].astype('string'))

/var/folders/hj/cclgqh_92yq3syclp1zmzwp80000gn/T/ipykernel_26423/556472037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smaller_df['pressure'] = pd.to_numeric(smaller_df['pressure'].astype('string'))

In [39]:
smaller_df.dtypes

timezone        int64
temp          float64
pressure        Int64
humidity        int64
wind_speed    float64
dtype: object

In [40]:
smaller_df.head()

               timezone   temp  pressure  humidity  wind_speed
dt_iso
1/1/1990 0:00     28800  25.82      1010        86        1.36
1/1/1990 1:00     28800  26.20      1011        84        2.09
1/1/1990 2:00     28800  26.45      1011        84        2.44
1/1/1990 3:00     28800  26.80      1011        82        2.29
1/1/1990 4:00     28800  27.04      1010        82        1.71

### Ratios between temp and humidity

In [41]:
smaller_df['temp'] / smaller_df['humidity']

dt_iso
1/1/1990 0:00     0.300233
1/1/1990 1:00     0.311905
1/1/1990 2:00     0.314881
1/1/1990 3:00     0.326829
1/1/1990 4:00     0.329756
                    ...
1/7/2020 19:00    0.287234
1/7/2020 20:00    0.287234
1/7/2020 21:00    0.337349
1/7/2020 22:00    0.337349
1/7/2020 23:00    0.337349
Length: 264924, dtype: float64

In [42]:
smaller_df['temp_to_hum_ratio'] = smaller_df['temp'] / smaller_df['humidity']

/var/folders/hj/cclgqh_92yq3syclp1zmzwp80000gn/T/ipykernel_26423/4125508212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smaller_df['temp_to_hum_ratio'] = smaller_df['temp'] / smaller_df['humidity']

In [43]:
smaller_df.head()

,timezone,temp,pressure,humidity,wind_speed,temp_to_hum_ratio
dt_iso,,,,,,
1/1/1990 0:00,28800,25.82,1010,86,1.36,0.300233
1/1/1990 1:00,28800,26.20,1011,84,2.09,0.311905
1/1/1990 2:00,28800,26.45,1011,84,2.44,0.314881
1/1/1990 3:00,28800,26.80,1011,82,2.29,0.326829
1/1/1990 4:00,28800,27.04,1010,82,1.71,0.329756